@charset "UTF-8";
.arrow-down:after,
.arrow-left:after,
.arrow-right:after,
.arrow-up:after,
.arrow:after {
	content: ''
}
.button,
.tip {
	font-weight: 700
}
.button,
.button:link {
	color: #fff
}
input,
input[type=range],
rzslider .rz-pointer,
select {
	-webkit-appearance: none
}
.arrow-right:after,
.arrow:after {
	width: 8px;
	height: 8px;
	border-right: 2px solid #ccc;
	border-top: 2px solid #ccc;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -4px;
	display: block
}
.checkbox:after,
.checkbox:before,
.list .item:before,
.list a.item:before,
.list:after,
.list:before,
.radio:after,
.radio:before {
	content: ""
}
.button {
	height: 50px;
	line-height: 50px;
	background-color: #f2626f;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border: none;
	padding: 0 16px;
	border-radius: 5px
}
.button.button-icon {
	background-color: transparent;
	border: 1px solid #f2626f;
	color: #f2626f;
	font-size: 36px;
	font-weight: 400;
	border-radius: 60px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	padding: 0
}
.button.button-full {
	display: block;
	width: 100%;
	border-radius: 0
}
.button.button-bottom {
	position: fixed;
	bottom: 0
}
.button.activated {
	opacity: .8
}
.button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed
}
.checkbox {
	position: relative;
	width: 24px;
	height: 24px;
	display: inline-block;
	border: 0;
	background: 0 0
}
.checkbox:before {
	display: table;
	width: 100%;
	height: 100%;
	border: 1px solid #cfcfcf;
	border-radius: 24px;
	background: 0 0;
	-webkit-transition: background-color 20ms ease-in-out;
	transition: background-color 20ms ease-in-out
}
.checkbox:after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -6px;
	display: table;
	width: 12px;
	height: 7px;
	border: 2px solid #fff;
	border-top: 0;
	border-right: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity: 0;
	-webkit-transition: opacity .05s ease-in-out;
	transition: opacity .05s ease-in-out
}
.checkbox:checked:before {
	background: #f2626f;
	border-color: #f2626f
}
.checkbox:checked:after {
	opacity: 1
}
.dialog {
	background-color: #fff;
	border: 1px solid #ECECEC;
	border-radius: 6px;
	min-width: 250px;
	display: inline-block;
	z-index: 101;
	-webkit-transition: .2s opacity linear;
	transition: .2s opacity linear
}
.dialog .dialog-title,
.dialog h1 {
	height: 44px;
	line-height: 44px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-weight: 700
}
.dialog .dialog-section,
.dialog section {
	min-height: 50px;
	padding: 0 10px 10px;
	-webkit-overflow-scrolling: touch;
	overflow: scroll
}
.dialog .dialog-footer,
.dialog footer {
	text-align: center;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	height: 44px;
	border-top: 1px solid #ECECEC
}
.dialog .dialog-footer .dialog-button,
.dialog footer .dialog-button {
	flex: 1;
	-webkit-flex: 1;
	height: 44px;
	line-height: 44px;
	border-right: 1px solid #ECECEC;
	color: #f2626f;
	font-size: 18px
}
.dialog .dialog-footer .dialog-button:last-child,
.dialog footer .dialog-button:last-child {
	border-right: none
}
.dialog .dialog-footer .dialog-button.activated,
.dialog footer .dialog-button.activated {
	background-color: #ECECEC
}
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
textarea {
	border: 1px solid #ccc;
	height: 45px;
	border-radius: 4px;
	padding: 0 10px;
	background-color: #fff
}
textarea {
	height: 100px;
	line-height: 30px
}
.list {
	position: relative;
	margin-bottom: 10px;
	background-color: #fff
}
.list:after,
.list:before {
	left: 0;
	width: 200%;
	position: absolute
}
.list:before {
	top: -.5px;
	border-top: 1px #ccc solid;
	transform: scale(.5) translate(-50%, -50%)
}
.list:after,
.list:before {
	-webkit-transform: scale(.5) translate(-50%, -50%)
}
.list:after {
	bottom: -.5px;
	border-bottom: 1px #ccc solid;
	transform: scale(.5) translate(-50%, -50%)
}
.list .item,
.list a.item {
	padding: 17px 0;
	margin-left: 12px;
	font-size: 16px;
	line-height: 16px;
	min-height: 51px;
	position: relative;
	display: block;
	color: #333
}
.list .item:before,
.list a.item:before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	border-bottom: 1px #ccc solid;
	-webkit-transform: scale(.5) translate(-50%, -50%);
	transform: scale(.5) translate(-50%, -50%)
}
.list .item:last-child,
.list a.item:last-child {
	position: relative
}
.list .item:last-child:before,
.list a.item:last-child:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	border-bottom: none;
	-webkit-transform: scale(.5) translate(-50%, -50%);
	transform: scale(.5) translate(-50%, -50%)
}
.list .item .checkbox,
.list .item .radio,
.list a.item .checkbox,
.list a.item .radio {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -12px
}
.list .item .switcher,
.list a.item .switcher {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -16px
}
.list .item .item-note,
.list a.item .item-note {
	position: absolute;
	color: #666;
	font-size: 14px;
	display: inline-block;
	right: 16px;
	top: 50%;
	margin-top: -7px
}
.list .item.arrow .item-note,
.list a.item.arrow .item-note {
	right: 36px
}
.list .item.item-icon,
.list a.item.item-icon {
	margin-left: 60px;
	overflow: visible!important
}
.list .item.item-icon i,
.list a.item.item-icon i {
	font-size: 28px;
	line-height: 28px;
	margin-left: -45px;
	margin-right: 16px;
	vertical-align: sub;
	color: #aaa
}
.list .item .item-lable,
.list a.item .item-lable {
	display: inline-block;
	min-width: 80px
}
.list .item.item-input,
.list a.item.item-input {
	padding: 10px 0;
	overflow: hidden;
	display: flex;
	display: flexbox;
	display: box;
	display: -webkit-box;
	display: -webkit-flex
}
.list .item.item-input .item-lable,
.list a.item.item-input .item-lable {
	line-height: 30px;
	display: block;
	width: 35%;
	flex: 1 0 80px;
	box-flex: 1 0 80px;
	-webkit-flex: 1 0 80px;
	-webkit-box-flex: 1 0 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.list .item.item-input .item-text,
.list .item.item-input input[type=date],
.list .item.item-input input[type=email],
.list .item.item-input input[type=number],
.list .item.item-input input[type=password],
.list .item.item-input input[type=tel],
.list .item.item-input input[type=text],
.list .item.item-input textarea,
.list a.item.item-input .item-text,
.list a.item.item-input input[type=date],
.list a.item.item-input input[type=email],
.list a.item.item-input input[type=number],
.list a.item.item-input input[type=password],
.list a.item.item-input input[type=tel],
.list a.item.item-input input[type=text],
.list a.item.item-input textarea {
	border: none;
	padding: 0;
	height: 30px;
	display: block;
	flex: 3 0 220px;
	box-flex: 3 0 220px;
	-webkit-flex: 3 0 220px;
	-webkit-box-flex: 3 0 220px
}
.list .item.item-input .item-text,
.list a.item.item-input .item-text {
	line-height: 30px;
	height: auto
}
.list .item.item-input textarea,
.list a.item.item-input textarea {
	height: 100px
}
.list .item.item-input select,
.list a.item.item-input select {
	background-color: transparent;
	border: none;
	height: 30px;
	flex: 3 0 220px;
	box-flex: 3 0 220px;
	-webkit-flex: 3 0 220px;
	-webkit-box-flex: 3 0 220px;
	padding: 0
}
.list a.activated {
	background-color: #f7f7f7
}
.list .item:last-child {
	border-bottom: none
}
.list-loader {
	text-align: center;
	padding: 8px 0;
	line-height: 3.5rem;
	color: #476
}
.radio {
	position: relative;
	width: 24px;
	height: 24px;
	display: inline-block;
	border: 0;
	background: 0 0
}
.radio:before {
	display: table;
	width: 100%;
	height: 100%;
	border: 1px solid #cfcfcf;
	border-radius: 24px;
	background: 0 0
}
.radio:after {
	position: absolute;
	display: table;
	height: 14px;
	width: 14px;
	border-radius: 14px;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -7px;
	background-color: #f2626f;
	opacity: 0;
	box-shadow: inset 0 1px 1px #0D3B79;
	-webkit-transition: opacity .05s ease-in-out;
	transition: opacity .05s ease-in-out
}
input[type=range],
rzslider,
rzslider span {
	display: inline-block
}
.radio:checked:before {
	border-color: #f2626f
}
.radio:checked:after {
	opacity: 1
}
input[type=range] {
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #ccc), color-stop(100%, #ccc));
	background: linear-gradient(to right, #ccc 0, #ccc 100%);
	width: auto;
	height: 43px;
	background-position: center;
	background-size: 99% 2px;
	background-repeat: no-repeat
}
input[type=range]::-webkit-slider-thumb {
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2);
	cursor: pointer;
	-webkit-appearance: none;
	border: 0
}
input[type=range]::-webkit-slider-thumb:before {
	content: "";
	position: absolute;
	top: 13px;
	left: -2001px;
	width: 2000px;
	height: 2px;
	background: #f2626f
}
input[type=range]::-webkit-slider-thumb:after {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	padding: 30px
}
rzslider .rz-pointer:after,
rzslider .rz-pointer:before {
	top: 9px;
	height: 8px;
	content: ''
}
rzslider {
	position: relative;
	width: 100%;
	height: 4px;
	margin: 35px 0 15px;
	vertical-align: middle;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
body,
rzslider {
	-webkit-user-select: none
}
rzslider.with-legend {
	margin-bottom: 40px
}
rzslider[disabled] {
	cursor: not-allowed
}
rzslider[disabled] .rz-pointer {
	cursor: not-allowed;
	background-color: #d8e0f3
}
rzslider span {
	position: absolute;
	white-space: nowrap
}
rzslider .rz-base {
	width: 100%;
	height: 100%;
	padding: 0
}
rzslider .rz-bar-wrapper {
	left: 0;
	z-index: 1;
	width: 100%;
	height: 32px;
	padding-top: 16px;
	margin-top: -16px;
	box-sizing: border-box
}
rzslider .rz-bar-wrapper.rz-draggable {
	cursor: move
}
rzslider .rz-bar {
	left: 0;
	z-index: 1;
	width: 100%;
	height: 3px;
	background: #cbcbcb;
	border-radius: 2px
}
rzslider .rz-bar,
rzslider .rz-bar.rz-selection {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px
}
rzslider .rz-bar.rz-selection {
	z-index: 2;
	background: #f2626f;
	border-radius: 2px
}
rzslider .rz-pointer {
	top: -14px;
	z-index: 3;
	width: 29px;
	height: 29px;
	cursor: pointer;
	background-color: #fff;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 3px #ccc;
	-webkit-box-shadow: 0 2px 3px #ccc
}
body,
img {
	border: 0
}
rzslider .rz-pointer:focus {
	outline-width: 0;
	box-shadow: none;
	-webkit-box-shadow: none
}
rzslider .rz-pointer:before {
	position: absolute;
	width: 8px;
	left: 13px;
	border-left: 1px solid #D8D8D8
}
rzslider .rz-pointer:after {
	position: absolute;
	width: 9px;
	left: 9px;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8
}
rzslider .rz-pointer.rz-active {
	z-index: 4
}
rzslider .rz-bubble {
	bottom: 16px;
	padding: 1px 3px;
	color: #55637d;
	cursor: default
}
rzslider .rz-bubble.rz-selection {
	top: 16px
}
rzslider .rz-bubble.rz-limit {
	color: #55637d
}
rzslider .rz-ticks {
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 0;
	padding: 0 11px;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
rzslider .rz-ticks .rz-tick {
	width: 10px;
	height: 10px;
	text-align: center;
	cursor: pointer;
	background: #d8e0f3;
	border-radius: 50%
}
rzslider .rz-ticks .rz-tick.rz-selected {
	background: #f2626f
}
rzslider .rz-ticks .rz-tick .rz-tick-value {
	position: absolute;
	top: -30px;
	transform: translate(-50%, 0)
}
rzslider .rz-ticks .rz-tick .rz-tick-legend {
	position: absolute;
	top: 24px;
	max-width: 50px;
	white-space: normal;
	transform: translate(-50%, 0)
}
rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value {
	top: initial;
	bottom: -40px
}
rzslider.rz-vertical {
	position: relative;
	width: 4px;
	height: 100%;
	padding: 0;
	margin: 0 20px;
	vertical-align: baseline
}
rzslider.rz-vertical .rz-base {
	width: 100%;
	height: 100%;
	padding: 0
}
rzslider.rz-vertical .rz-bar-wrapper {
	top: auto;
	left: 0;
	width: 32px;
	height: 100%;
	padding: 0 0 0 16px;
	margin: 0 0 0 -16px
}
rzslider.rz-vertical .rz-bar {
	bottom: 0;
	left: auto;
	width: 3px;
	height: 100%
}
rzslider.rz-vertical .rz-pointer {
	top: auto;
	bottom: 0;
	left: -14px!important
}
rzslider.rz-vertical .rz-bubble {
	bottom: 0;
	left: 16px!important;
	margin-left: 3px
}
body,
input,
ul,
ul li {
	margin: 0
}
rzslider.rz-vertical .rz-bubble.rz-selection {
	top: auto;
	left: 16px!important
}
rzslider.rz-vertical .rz-ticks {
	top: 0;
	left: -3px;
	z-index: 1;
	width: 0;
	height: 100%;
	padding: 11px 0;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}
rzslider.rz-vertical .rz-ticks .rz-tick {
	vertical-align: middle
}
rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
	top: initial;
	left: 22px;
	transform: translate(0, -28%)
}
rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend {
	top: initial;
	right: 24px;
	max-width: none;
	white-space: nowrap;
	transform: translate(0, -28%)
}
rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value {
	right: 12px;
	bottom: initial;
	left: initial
}
html {
	font-size: 62.5%
}
@media screen and (min-width:400px) {
	html {
		font-size: 75%
	}
}
@media screen and (max-width:319px) {
	html {
		font-size: 50%
	}
}
body {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	background-color: #f7f7f7;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%
}
.tip,
input,
select,
textarea {
	font-size: 16px
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
button {
	border: none;
	outline-width: 0;
	box-shadow: none;
	-webkit-box-shadow: none
}
input {
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0
}
input:focus,
select:focus,
textarea:focus {
	outline-width: 0;
	box-shadow: none;
	-webkit-box-shadow: none
}
textarea {
	padding: 10px
}
ul,
ul li {
	padding: 0
}
a,
a:link {
	text-decoration: none;
	color: #333
}
ul li {
	list-style: none
}
select {
	appearance: none;
	height: 44px;
	padding: 0 10px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	min-width: 100px
}
.swiper-slide,
.swiper-wrapper {
	width: 100%;
	height: 100%;
	position: relative
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	display: block
}
.swipe .swipe-wrap {
	overflow: hidden;
	position: relative;
	display: block
}
.swipe .swipe-wrap .swipe-item {
	float: left;
	display: block;
	width: 100%;
	position: relative
}
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: block
}
.swiper-container-no-flexbox .swiper-slide {
	float: left
}
.swiper-container-vertical>.swiper-wrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column
}
.swiper-wrapper {
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.swiper-container-multirow>.swiper-wrapper {
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-fles-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}
.swiper-container-free-mode>.swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto
}
.swiper-slide {
	display: block;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0
}
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: none
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: 10px;
	right: auto
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right: 10px;
	left: auto
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10
}
.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2
}
.swiper-pagination-white .swiper-pagination-bullet,
.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}
.swiper-pagination-bullet-active {
	opacity: 1
}
.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000
}
.swiper-container-vertical>.swiper-pagination {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	-moz-transform: translate3d(0, -50%, 0);
	-o-transform: translate(0, -50%);
	-ms-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}
.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
	margin: 5px 0;
	display: block
}
.swiper-container-horizontal>.swiper-pagination {
	bottom: 10px;
	left: 0;
	width: 100%
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
	margin: 0 5px
}
.swiper-container-3d {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10
}
.swiper-container-3d .swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(transparent));
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), transparent);
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, .5), transparent);
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), transparent);
	background-image: linear-gradient(to left, rgba(0, 0, 0, .5), transparent)
}
.swiper-container-3d .swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(transparent));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), transparent);
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .5), transparent);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), transparent);
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5), transparent)
}
.swiper-container-3d .swiper-slide-shadow-top {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(transparent));
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), transparent);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .5), transparent);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), transparent);
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), transparent)
}
.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(transparent));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), transparent);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), transparent);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), transparent);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent)
}
.swiper-container-coverflow .swiper-wrapper {
	-ms-perspective: 1200px
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}
.swiper-container-fade .swiper-slide {
	pointer-events: none
}
.swiper-container-fade .swiper-slide-active {
	pointer-events: auto
}
.swiper-container-cube {
	overflow: visible
}
.swiper-container-cube .swiper-slide {
	pointer-events: none;
	visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	height: 100%
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible
}
.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-webkit-filter: blur(50px);
	filter: blur(50px)
}
.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
	z-index: 0
}
.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, .1)
}
.swiper-container-horizontal>.swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%
}
.swiper-container-vertical>.swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	left: 0;
	top: 0
}
.swiper-scrollbar-cursor-drag {
	cursor: move
}
.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	-webkit-transform-origin: 50%;
	-moz-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	-moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	animation: swiper-preloader-spin 1s steps(12, end) infinite
}
.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat
}
.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}
@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg)
	}
}
.swiper-pagination-bullet-active {
	background: #f2626f
}
.switcher {
	position: relative;
	height: 31px;
	width: 51px;
	display: inline-block;
	border: 0;
	background: 0 0
}
.switcher:before {
	content: "";
	display: table;
	width: 100%;
	height: 100%;
	border-radius: 33px;
	background: #fff;
	border: 2px solid #ccc;
	-webkit-transition: background-color .1s ease-in-out;
	transition: background-color .1s ease-in-out
}
.switcher:after {
	content: '';
	height: 29px;
	width: 29px;
	border-radius: 20px;
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	background-color: #FFF;
	border: 1px solid #ccc;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out
}
.switcher:checked:before {
	border: 1px solid #f2626f;
	background-color: #f2626f
}
.switcher:checked:after {
	left: 1px;
	border: 1px solid #f2626f;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0)
}
.tabs {
	height: 44px;
	line-height: 44px;
	display: flex;
	display: flexbox;
	display: box;
	display: -webkit-box;
	display: -webkit-flex;
	background-color: #f7f7f7;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99
}
.tabs:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	-webkit-transform: scale(.5) translate(-50%, -50%);
	transform: scale(.5) translate(-50%, -50%);
	border-bottom: 1px #ccc solid
}
.tabs .tab-item {
	flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	display: block;
	color: #333;
	text-align: center;
	position: relative
}
.tabs .tab-item.activated,
.tabs .tab-item.active {
	color: #f2626f
}
.tabs .tab-item.activated:after,
.tabs .tab-item.active:after {
	content: "";
	position: absolute;
	border-bottom: 2px solid #f2626f;
	bottom: 0;
	left: 10px;
	right: 10px
}
.tip {
	padding: 18px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #ECECEC;
	min-height: 30px;
	min-width: 200px;
	max-width: 280px;
	z-index: 101;
	-webkit-transition: .2s opacity linear;
	transition: .2s opacity linear;
	text-align: center;
	opacity: .8
}